<div class="jumbotron">
  <h1 class="display-3">Share Your Emotions!</h1>
  <p class="lead">Share your photos, subscribe to your friends!</p>
  <a class="btn btn-outline-primary btn-lg" href="#" role="button">Sing Up</a>
  <a class="btn btn-outline-dark btn-lg" href="#" role="button">Sing In</a>
</div>