<div class="card col-sm-6">
  <div class="card-header">
    <h2 class="display-4">Description:</h2>
  </div>
  <div class="card-body">

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
</div>
</div>